/* src/components/ItemListContainer/ItemListContainer.css */

/* Filtros de selección (fabricante y precio) */
.filters {
    margin: 30px 0; /* Espacio superior e inferior */
    padding: 20px 0; /* Asegura que el contenedor tenga espacio interno arriba y abajo */
    display: flex; /* Coloca los elementos en línea horizontal */
    gap: 20px; /* Espacio entre los selectores de fabricante y precio */
    justify-content: center; /* Centra los filtros horizontalmente */
    align-items: center; /* Centra verticalmente en relación a la línea de base */
}

/* Estilo para los elementos que rodean a los filtros (h2 o cualquier otro) */
h2, .item-list {
    margin-bottom: 20px; /* Ajusta este valor para crear espacio entre los elementos */
}


label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.1rem;
}

select {
    padding: 8px; /* Añade padding para hacer más grandes los selects */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    border: 1px solid #ccc;
    border-radius: 5px;
}

