/* src/components/ItemListContainer/ItemListContainer.css */

/* Filtros de selección (fabricante y precio) */
.filters {
    margin: 30px 0; /* Añade un margen superior e inferior más amplio */
    display: flex;
    gap: 20px; /* Espacio entre los elementos del filtro */
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.1rem;
}

select {
    padding: 8px; /* Añade padding para hacer más grandes los selects */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Asegurarnos de que el diseño sea responsivo */
@media (max-width: 768px) {
    .filters {
        flex-direction: column; /* En pantallas pequeñas, los filtros se mostrarán en columna */
        gap: 10px;
    }

    select {
        width: 100%; /* Asegura que los selects ocupen todo el ancho disponible */
    }
}

