/* src/components/Checkout/Checkout.css */

.checkout-container {
    margin: 80px auto 20px auto; /* Añadimos margen superior para separar del header */
    padding: 20px;
    max-width: 100%;
}

.table {
    margin-bottom: 20px;
    width: 100%;
    /* Eliminamos cualquier ancho fijo para evitar overflow */
}

.btn-sm {
    padding: 0.25rem 0.5rem;
}

body {
    overflow-x: hidden;
}

