/* src/components/Carousel/Carousel.css */

.carousel-container {
    margin-top: 5%; /* Ajusta el valor según la altura de tu navbar */
    margin-bottom: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto; /* Centra el carrusel en la pantalla */
}


